
.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.Modal {
    width: 38vw;
    height: 83vh;
    /* height: 41.4vW; */
    height: 36vW;
    background-color: var(--color1);
    border-radius: 10px;
    transition: display 4s;
    /* box-shadow: 10px 10px 5px var(--color4); */
}

.ReactModal__Overlay {
    opacity: 0;
    transition: 600ms filter ease-in-out, 800ms opacity ease-out;
    
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

form{
    justify-content: center;   
    font-size: 0.77vw; 
}

#form_blur_Overlay{
    position: absolute;
    top: 14vh;
    /* top: 4.5vW; */
    bottom: 14vh;
    /* bottom: 4.5vw; */
    left: 30.7vw;
    right: 30.7vw;
    background-color: var(--color4);
    filter: blur(3px);
    z-index: -1;
    border-radius: 10px;
}
input{
    border-radius: 9px; 
    height: 4.5vh;
    height: 2.3vW;
    border: 2.5px solid var(--color4);
    font-size: 0.8vw; 
}

button{
    background-color: var(--color1);
    border: 2.5px solid var(--color5);
    width: 6vw;
    height: 4.5vh;
    height: 2.3vw;
    border-radius: 4px;
    font-size: 0.8vw; 
    color: var(--color5);
}
/* 
button:focus{
    background-color: var(--color5);
    color: white;
} */

option{
    color: black;
}

#selectedOption{
    color: gray;
}

#record_Header_Overlay{
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 6.5vh;
    height: 3.3vW;
    border-bottom: 2px solid var(--color4);
    font-size: 0.7vw;
}

#record_Header_Overlay h2{
    margin-left: 6%;
}

#record_Header_Overlay button{
    margin-right: 6%;
    width: 1.4vw;
    height: 2.8vh;
    height: 1.4vW;
    border-radius: 9px;
}

#descriptionOverlay{
    margin-top: 3vh;
    margin-top: 1.5vW;
    width: 90%;
}

#descriptionOverlay input{
    margin-top: 0.7vh;
    margin-top: 0.35vW;
    width: 94%;
    padding-left: 3%;
    padding-right: 3%;
}

#accountOverlay{
    margin-top: 2vh;
    margin-top: 1vW;
    width: 90%;
}

#accountOverlay button{
    margin-top: 1vh;
    margin-top: 0.5vW;
    margin-left: 0.84vw;
    margin-right: 0vw;
}

/* #accountOverlay button:active{
    background-color: var(--color5);
}

#accountOverlay button:focus{
    background-color: var(--color5);
} */

#AmountOverlay{
    margin-top: 1.5vh;
    margin-top: 0.75vW;
    width: 90%;
}

#AmountOverlay div{
    justify-content: space-between;
    width: 97%;
}

#AmountOverlay div div{
    width: 46%;
    /* border: 2px solid black; */
}

#AmountOverlay div div input{
    margin-top: 1vh;
    margin-top: 0.5vW;
    width: 74.6%;
    margin-left: 4%;
    padding-left: 3%;
    padding-right: 3%;
}

#savedTransactionOverlay{
    margin-top: 1.8vw;
    width: 90%;
    height: 4.6vh;
    height: 2.35vW;
    /* border: 2px solid black; */
}

#savedTransactionOverlay label{
    /* border: 2.5px solid var(--color2); */
    width: 50%;
    
}
#savedTransactionOverlay label select{
    border-radius: 9px;
    height: 100%;
    /* border: 2.5px solid var(--color4); */
    border: 2px solid var(--color4);
    height: 2.5vw;
    width: 100%;
    background-color: white;
    padding-left: 3%;
    padding-right: 6%;
}

#savedTransactionOverlay div{
    margin-left: 12%;
    border-radius: 9px;
    background-color: var(--color1);
    /* border: 2.5px solid var(--color2); */
    width: 6vw;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}

#savedTransactionOverlay div button{
    background-color: var(--color1);
    border: 0px solid var(--color2);
    width: 1.4vw;
    height: 1.4vw;
    border-radius: 4px;
    background-image: url(../../../icons/saveTransaction_icon.png);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center center;
    background-size: auto;

    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
}

#savedTransactionOverlay div button:hover{
    border: 2.5px solid var(--color4);
}

#categoryOverlay{
    margin-top: 3.3vh;
    margin-top: 1.7vW;
    width: 90%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    /* border: 1px solid var(--color2); */
}

#categoryOverlay label{
    width: 40%;
}

#categoryOverlay select{
    border: 2px solid var(--color4);
    background-color: white;
    border-radius: 9px;
    height: 2.5vw;
    width: 100%;
    margin-top: 0.3vh;
    margin-top: 0.15vW;
    flex-wrap: wrap;
    padding-left: 0%;
}



#addCategoryOverlay{
    /* margin-top: 2.5vh; */
    /* margin-top: 1.25vW; */
    /* width: 90%; */
    width: 40%;
    /* border: 1px solid var(--color2); */
    margin-left: 2.5vw;
}

#addCategoryOverlay input{
    width: 79%;
    margin-top: 0.8vh;
    margin-top: 0.4vW;
    padding-left: 3%;
    padding-right: 3%;
}

#addCategoryOverlay button{
    border: 0px;
    width: 1.3vw;
    /* height: 2vw; */
    height: 1.3vw;
    border-radius: 9px;
    margin-left: 1%;
    background-image: url(../../../icons/add_circle.png);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center center;
    background-size: auto;

    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
}

#addCategoryOverlay button:hover{
    border: 2.5px solid var(--color4);
}

#BTN_overlay{
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    /* border: 1px solid var(--color2); */
    margin-top: 5vh;
    margin-bottom: 5.4vh;
    margin-top: 2.5vW;
    margin-bottom: 2.7vh;
}

#BTN_overlay div{
    margin-right: 2vw;
}

#BTN_overlay div button{
    margin-left: 1.4vw;
}