#flilter_Overlay{
    /* width: 50%; */
    height: 70vh;
    background-color: var(--color1);
    border-left: 3px solid var(--color4); 
    border-right: 3px solid var(--color4); 
    display: flex;
    position: relative;
    display: flex;
    flex-direction: column;
	align-items: center;
    width: 100%;
}
#ledger_filtter{
    width: 85%;
    /* border: 2px solid rgb(110, 109, 109); */
    margin-top: 6vh;
    margin-top: 3vw;
}

#select_filter_category_p{
    position: relative;
}

#select_filter_category_p:after{
    position: absolute;
    content:" ";
    height: 2px;
    /* width: 92.5%; */
    width: 49.5vw;
    background: var(--color4);
    display: block;
    position: absolute;
    top: 60%;
    /* left: 7.5%; */
    left: 4vw;
}

#select_filter_category{
    /* border: 2px solid red; */
    display: flex;
    width: 87%;

}

#addFiltterCategory_Overlay{
    margin-top: 2.5vh;
    margin-top: 1.25vw;
    /* border: 2px solid black; */
}

#addFiltterCategory_Overlay input{
    width: 20%;
    margin-top: 0.8vh;
    margin-top: 0.4vw;
    padding-left: 3%;
    padding-right: 3%;
    height: 4vh;
    height: 2vw;
}

#addFiltterCategory_Overlay button{
    width: 1vw;
    height: 2vh;
    height: 1vw;
    border-radius: 9px;
    margin-left: 1%;
}

#each_filter_category {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 2px solid green; */
    margin-right: 2%;
    width: 14.3%;

}

#each_filter_category_overlay{
    /* border: 2px solid blue; */
    margin-top: 1.3vh;
    margin-top: 0.8vw;
    flex-wrap: wrap;
}

#select_filter_category div div input{
    width: 1vw;
    height: 3vh;
    height: 1.5vw;
    border: 2px solid black;
}

#select_filter_category div label{
    margin-left: 0.5vw;
    
    font-weight: lighter;
}

#filtter_addCategoryOverlay{
    margin-top: 2.5vh;
    margin-top: 1.25vw;
    width: 90%;
    /* border: 1px solid var(--color2); */
}

#filtter_addCategoryOverlay input{
    width: 40%;
    margin-top: 0.8vh;
    margin-top: 0.4vw;
    padding-left: 3%;
    padding-right: 3%;
}

#filtter_addCategoryOverlay button{
    width: 1vw;
    height: 2vh;
    height: 1vw;
    border-radius: 9px;
    margin-left: 1%;
}

 
#filterDate_overlay{
    margin-top: 5vh;
    margin-top: 2.5vw;
    /* border: 2px solid black; */
}

#setPeriod_p{
    position: relative;
}

#setPeriod_p:after{
    position: absolute;
    content:" ";
    height: 2px;
    /* width: 92.5%; */
    width: 49vw;
    background: var(--color4);
    display: block;
    position: absolute;
    top: 60%;
    /* left: 7.5%; */
    left: 4.5vw;
}

#dateDisp{
    color: rgb(113, 126, 139);
    /* margin-top: 3vh;
    margin-bottom: 3vh; */
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
}

/* #filterDate{
    border: 2px solid blue;
} */

#filterDate div{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-bottom: 2.5vh; */
    margin-bottom: 1.25vw;
    /* border: 2px solid green; */
}

#filterDate div span{
    /* border: 2px solid orange; */
    display: flex;
    flex-direction: row-reverse;
    width: 2.3vw;
    margin-right: 0.6vw;
}

#filterDate div input{
    color: rgb(173, 173, 173);
    width: 12.5vw;
    height: 2.1vw;
    padding-left: 8px;
}

#filter_btn_Overlay{
    /* margin-top: 8vh; */
    margin-top: 4vw;
    /* border: 2px solid orange; */
    display: flex;
    flex-direction: row-reverse;

}
#filter_btn{
    background-color: var(--color5);
    color: var(--color1);
    width: 12vw;
    /* height: 6vh; */
    height: 3vw;
    margin-right: 4vw;
}

#FilterError{
    color: red;
}