/* :root {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;

    --text1: rgb(255, 255, 255);
    --text2: rgb(0, 0, 0);
    --baground1: rgb(68, 51, 78);
    --baground2: rgb(255, 255, 255);
    --baground3: rgb(142, 143, 196);
    --baground4: rgb(0, 0, 0);
    --color1: rgb(180, 179, 180);
}

body{
    margin: 0px;
    background-color: var(--baground);
}

header{
    color: var(--text1);

}

#navbar1{
    background-color: var(--baground1);
    display: flex;
    flex-direction: row;
	justify-content: space-between;
	align-items: center;
    height: 11vh;
}

#name{
    margin-left: 2.8vw;
}

#access{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right    : 10vw;
}

#register{
    margin-right: 2.8vw;
    margin-top: 35px;
    text-decoration: none;
    color: var(--text1);
}

#login{
    margin-top: 35px;
    text-decoration: none;
    color: var(--text1);
}

#navbar2 {
    background-color: var(--baground2);
    display: flex;
    flex-direction: row;
	justify-content: center;
	align-items: center;
    height: 8.4vh;
    border-bottom: 3px solid ; 
    border-bottom: 3px solid var(--color1); 
}

#navbar2 ul {
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 9.5vw;
    overflow: hidden;
    background-color: var(--baground2);
  }
  
#navbar2 li {
    float: left;
  }
  
#navbar2  li a {
    display: block;
    color: var(--text2);
    text-align: center;
    padding: 14px 1.5vw;
    text-decoration: none;
  }
  
#navbar2  li a:hover {
    background-color: var(--baground1);
    color: var(--text1);
}

section{
    background-color: var(--baground2);
    display: flex;
    flex-direction: column;
	align-items: center;
}

#row1 {
    width: 71.8%;
    height: 75.25vh;
    background-color: var(--baground2);
    border-left: 3px solid var(--color1); 
    border-right: 3px solid var(--color1); 
}

#row2 {
    width: 100%;
    height: 55vh;
    background-color: var(--baground3);
}

#row3 {
    width: 71.8%;
    height: 185vh;
    background-color: var(--baground2);
    border-left: 3px solid var(--color1); 
    border-right: 3px solid var(--color1); 
}

#row4 {
    width: 100%;
    height: 45.54vh;
    background-color: var(--baground1);
}

#row5 {
    width: 71.8%;
    height: 90vh;
    background-color: var(--baground2);
    border-left: 3px solid var(--color1); 
    border-right: 3px solid var(--color1); 
}

#row6 {
    width: 100%;
    height: 13vh;
    background-color: var(--baground1);
} */